<h1>体重と活動時間を入力してください</h1>

<%= form_with model: @calculate, url: calculates_path, html: {class: "form-container"} do |form| %>
  <div class="form-input">
  <%= form.label :"体重(Kg)" %><%= form.number_field :weight, in: 1..200, step: 1 %>
  </div>
  <div class="form-input">
  <%= form.label :"活動時間(h)" %><%= form.number_field :activity_time, in: 1..24, step: 1 %>
  </div>
  <div class="button-container"><%= form.submit "計算" , class: "link-button" %></div>
<% end %>